body {
  overflow-x: hidden;
}

/* NAVIGATION BAR */
.navbar-style {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  background-color: #282f72;
  padding-top: 1rem;
  padding-right: 4rem;
}

.fa-icon {
  margin-right: 10px;
}

.brand-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  padding-left: 5%;
}

.brand-icon {
  padding: 5%;
}

.links {
  color: white;
  margin: 1rem;
}

.links-button {
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem;
  padding: 0.5rem 2rem;
  color: white;
  text-decoration: none;
}

/*SERVICES SECTION*/
#services {
  background-image: linear-gradient(#282f72, #56416C);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  padding: 0.5% 14%;
  color: #4255a4;
  margin: auto;
}

.services-heading {
  text-align: center;
  margin: 15% 5% 3%;
  color: white;
}

.first-carousel-title {
  text-align: center;
  margin: 0 5% 3%;
  color: white;
}

.card {
  height: 600px;
  margin-bottom: 15%;
  background-color: rgb(240, 239, 239);
}

.card-body-style,
.card-star-style {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  color: grey;
}

.services-one {
  background-image: url();
  padding: 30%;
}

.services-two {
  background-image: url();
  padding: 30%;
}

.services-three {
  background-image: url();
  padding: 30%;
}

.services-four {
  background-image: url(images/big-data.jpg);
  padding: 30%;
}

.services-five {
  background-image: url(images/mixed-signals.jpg);
  padding: 30%;
}

.services-six {
  background-image: url(images/drafting.jpg);
  padding: 30%;
}

.star-style {
  color: #ffc000;
}

.carousel-button-left {
  position: absolute;
  padding-right: 120px;
}
.carousel-button-right {
  position: absolute;
  padding-left: 120px;
}

/*ABOUT SECTION*/
#about {
  background-image: linear-gradient(rgba(3, 4, 7, 0.48), rgba(5, 10, 30, 0.48)),
    url(https://github.com/imhazeltaylo/DreamMaker/blob/main/images/about-bg.jpg?raw=true);
  height: 100vh;
}

.about-row-style {
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.about-us-title {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 10%;
  margin-bottom: 5%;
  color: white;
  text-align: center;
}

.about-image {
  margin-left: 40px;
  margin-bottom: 120px;
  width: 550px;
}

.about-header {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
}

.about-subheader {
  padding-bottom: 30px;
  color: white;
}

.about-body {
  color: white;
}

.explore-icon-style {
  margin-right: 2%;
  color: white;
}

.testimonials-header {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  color: white;
  margin-bottom: 50px;
  text-align: center;
}

.testimonial-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 2%;
  margin-bottom: 3%;
}

.testimonial-text {
  color: white;
  width: 70%;
  text-align: center;
  margin: auto;
  font-weight: 300;
}

.testimonial-profile {
  color: white;
  text-align: center;
}

/*FOOTER SECTION*/
#footer {
  background-color: #282f72;
  text-align: center;
  padding: 3% 14%;
  color: white;
}

.footer-left {
  text-align: left;
}

.footer-header {
  font-family: "Josefin Sans", sans-serif;
}

.footer-body {
  margin-right: 20%;
}

.socials-style {
  margin-top: 8%;
}

.fb-logo-style,
.twitter-logo-style,
.linkedin-logo-style {
  width: 40px;
}

.fb-logo-style,
.twitter-logo-style {
  margin-right: 3%;
}

.twitter-logo-style,
.linkedin-logo-style {
  filter: brightness(160%);
}

.foot-text {
  text-align: left;
  margin-top: 20px;
}

.footer-right {
  text-align: left;
}

.footer-right-header {
  font-weight: 700;
  font-size: 20px;
}

input {
  background-color: #484aaa;
  border: 1px solid #484aaa;
  color: white;
  margin-bottom: 10px;
  padding-left: 10px;
  height: 40px;
  width: 300px;
}

::placeholder {
  color: white;
}

.textarea-box {
  height: 100px;
}

.submit-button {
  background-color: #33bf30;
  text-align: center;
  width: 150px;
  padding-left: 0;
}
