body{
    font-family: 'Mulish', sans-serif;
    overflow-x: hidden;
  }

  /*TITLE SECTION*/
  #title{
    background-image: linear-gradient(rgba(3, 4, 7, 0.48), rgba(5, 10, 30, 0.48)),url(https://github.com/imhazeltaylo/DreamMaker/blob/main/images/travel-bg.jpg?raw=true);
    height: 100vh;
  }

  .navbar-style{
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    background-color: #282F72;
    padding-top: 1rem;
    padding-right: 4rem;
  }

  .brand-title{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    padding-left: 5%;
  }

  .fa-icon{
    margin-right: 10px;
  }

  .links{
    color: white;
    margin: 1rem;
  }

  .links-button{
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem;
    padding: 0.5rem 2rem;
    color: white;
    text-decoration: none;
  }

  .title-section{
    width: 50%;
    margin-top: 15%;
    margin-left: 25%;
  }

  .title-description{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: white;
  }

  .title-subdescription{
    font-family: 'Mulish', sans-serif;
    font-size: 1.1rem;
    color: white;
    margin-top: 2%;
  }

  .title-button{
    font-weight: 700;
    padding: 0.5rem 2rem;
    color: white;
    margin-top: 2%;
    margin-bottom: 18%;
  }

   /*FOOTER SECTION*/
  #footer{
    background-color: #282F72;
    text-align: center;
    padding: 3% 14%;
    color: white;
  }

  .footer-left{
    text-align: left;
  }

  .footer-header{
    font-family: 'Josefin Sans', sans-serif;
  }

  .footer-body{
    margin-right: 20%;
  }

  .socials-style{
    margin-top: 8%;
  }

  .fb-logo-style, .twitter-logo-style, .linkedin-logo-style{
    width: 40px;
  }

  .fb-logo-style, .twitter-logo-style{
    margin-right: 3%;
  }

  .twitter-logo-style, .linkedin-logo-style{
    filter: brightness(160%);
  }

  .foot-text{
    text-align: left;
    margin-top: 20px;
  }

  .footer-right{
    text-align: left;
  }

  .footer-right-header{
    font-weight: 700;
    font-size: 20px;
  }

  input {
    background-color: #484aaa;
    border: 1px solid #484aaa;
    color: white;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 40px;
    width: 300px;
  }
  
  ::placeholder {
    color: white;
  }
  
  .textarea-box {
    height: 100px;
  }
  
  .submit-button {
    background-color: #33bf30;
    text-align: center;
    width: 150px;
    padding-left: 0;
  }

@media (max-width: 680px){
  .title-section{
    width: 60%;
    margin-top: 15%;
    margin-left: 20%;
  }
}

@media (max-width: 560px){
  .title-section{
    width: 70%;
    margin-top: 15%;
    margin-left: 15%;
  }
}

@media (max-width: 440px){
  .title-description{
    font-size: 30px;
  }

  .title-section{
    width: 70%;
    margin-top: 40%;
    margin-left: 15%;
  }
}

@media (max-width: 360px){
  input {
    background-color: #484aaa;
    border: 1px solid #484aaa;
    color: white;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 40px;
    width: 200px;
  }
}